body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 600px;
  background: url("./banner.jpg") center no-repeat;
  padding: 20px;
}
.banner .about_sign_in {
  text-align: right;
  height: 80px;
}
.banner .about,
.banner .sign_in {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 11px;
}
.banner .sign_in {
  border: 2px solid green;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 23px;
  margin-left: 25px;
}
.banner .logo {
  background: url("./hapoERP.png") center no-repeat;
  height: 252px;
}
.banner .picture_txt span {
  display: block;
}
.banner .picture_txt img {
  height: 50px;
  width: 50px;
}
.banner .picture_txt .left,
.banner .picture_txt .center,
.banner .picture_txt .right {
  display: inline-block;
  width: 33%;
  text-align: center;
  font-size: 35px;
}
.banner .btn_txt {
  margin-top: 33px;
  text-align: center;
}
.banner .btn_txt span {
  display: block;
  font-style: italic;
}
.banner .btn_txt button {
  border-radius: 20px;
  cursor: pointer;
  font-size: 23px;
  padding: 4px 17px;
  margin-top: 26px;
}
